In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Employee.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Employee_ID                7000 non-null   object
 1   Gender                     7000 non-null   object
 2   Age                        6588 non-null   float64
 3   Education_Level            7000 non-null   int64
 4   Relationship_Status        7000 non-null   object
 5   Hometown                   7000 non-null   object
 6   Unit                       7000 non-null   object
 7   Decision_skill_possess     7000 non-null   object
 8   Time_of_service            6856 non-null   float64
 9   Time_since_promotion       7000 non-null   int64
 10  growth_rate                7000 non-null   int64
 11  Travel_Rate                7000 non-null   int64
 12  Post_Level                 7000 non-null   int64
 13  Pay_Scale                  6991 non-null   float64
 14  Compensation_and_Benefits  7000 non-null   object
 15  Work_Life_balance          6989 non-null   float64
 16  VAR1                       7000 non-null   int64
 17  VAR2                       6423 non-null   float64
 18  VAR3                       7000 non-null   float64
 19  VAR4                       6344 non-null   float64
 20  VAR5                       7000 non-null   int64
 21  VAR6                       7000 non-null   int64
 22  VAR7                       7000 non-null   int64
 23  Attrition_rate             7000 non-null   float64
dtypes: float64(8), int64(9), object(7)
memory usage: 1.3+ MB

In [4]:
clean_df = df.dropna(subset=["Age", "Time_of_service", "Pay_Scale", "Work_Life_balance", "VAR2", "VAR4"])

In [5]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5353 entries, 0 to 6999
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Employee_ID                5353 non-null   object
 1   Gender                     5353 non-null   object
 2   Age                        5353 non-null   float64
 3   Education_Level            5353 non-null   int64
 4   Relationship_Status        5353 non-null   object
 5   Hometown                   5353 non-null   object
 6   Unit                       5353 non-null   object
 7   Decision_skill_possess     5353 non-null   object
 8   Time_of_service            5353 non-null   float64
 9   Time_since_promotion       5353 non-null   int64
 10  growth_rate                5353 non-null   int64
 11  Travel_Rate                5353 non-null   int64
 12  Post_Level                 5353 non-null   int64
 13  Pay_Scale                  5353 non-null   float64
 14  Compensation_and_Benefits  5353 non-null   object
 15  Work_Life_balance          5353 non-null   float64
 16  VAR1                       5353 non-null   int64
 17  VAR2                       5353 non-null   float64
 18  VAR3                       5353 non-null   float64
 19  VAR4                       5353 non-null   float64
 20  VAR5                       5353 non-null   int64
 21  VAR6                       5353 non-null   int64
 22  VAR7                       5353 non-null   int64
 23  Attrition_rate             5353 non-null   float64
dtypes: float64(8), int64(9), object(7)
memory usage: 1.0+ MB

In [6]:
clean_df.to_csv("employee_data_clean.csv",index=False)
print("File saved successfully")

File saved successfully